<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fasm.NET" version="1.70.03.2" targetFramework="net452" />
  <package id="Ionic.Zip-1.9.1.8" version="1.9.1.8" targetFramework="net452" />
  <package id="MemorySharp" version="1.2.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
</packages>